<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>www.onem.com</title>
</head>
<body>
        <nav>
            <h5 class="brand">ONEM Service</h5>
            <ul>
                <li><a href="/login">Se connecter</a></li>
                <li><a href="/registrer">S'inscrire</a></li>
            </ul>
            <div style="clear: both"></div>
        </nav>

        <div class="container mt-5">
            <div class="col-md-6 m-auto"></div>
                <h1 class="border border-primary py-3 px-3 text-center text-primary">
                    BIENVENUE A L'ONEM!! 
                </h1>
                <span>SERVICE DE PLACEMENT</span>
            </div>
        </div>
        <div class="container mt-5">

            <div class="slider">
                <div class="myslider fade" style="display: block;">
                    <div class="txt">
                    <p>Idetification des Musiciens<br>Nous vous demandons de bien vouloir remplir le formulaire</p>
                    </div>
                    <img src="/images/img.jpg" style="width: 100%; height:100%;">
                </div>
                <div class="myslider fade">
                    <div class="txt">
                    <p>Aide de chercheur d'emploi<br>Nous vous demandons de bien vouloir remplir les différents formulaires</p>
                    </div>
                    <img src="/images/img.jpg" style="width: 100%; height:100%;">
                </div>
                <div class="myslider fade">
                    <div class="txt">
                    <p>Nous sommes là à votre service<br>Nous vous demandons de bien vouloir remplir le formulaire</p>
                    </div>
                    <img src="/images/img.jpg" style="width: 100%; height:100%;">
                </div>
                <div class="myslider fade">
                    <div class="txt">
                        <p>Idetification des Chercheurs d'emploi<br>Nous vous demandons de bien vouloir remplir le formulaire</p>
                    </div>
                    <img src="/images/img.jpg" style="width: 100%; height:100%;">
                </div>
                <div class="myslider fade">
                    <div class="txt">
                        <p>Offre d'emploi<br>Nous vous demandons de bien vouloir remplir le formulaire</p>
                    </div>
                    <img src="/images/img.jpg" style="width: 100%; height:100%;">
                </div>
                <div class="dotsbox" style="text-align: center;">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
        </div>
        <script src="/slider.js"></script>
    </body>
</html>