<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>www.onem.com</title>
</head>
<body>
        <nav>
            <h5 class="brand">ONEM Service</h5>
            <ul>
                <li><a href="/www.onem.com">Accueil</a></li>
                <li><a href="/verification">Offre</a></li>
                <li><a href="/login">Deconnecter</a></li>
            </ul>
            <div style="clear: both"></div>
        </nav>

        <div class="container mt-5">
            <hr>
            <div class="col-md-12 m-auto">
                <div class="card-header">
                    <div class="">
                         {{#if message}}
                            <span>
                                {{message}} : Heureux de  vous voir parmi nous. ----------***-----------***-----------***----------***------------***-----------***-----------***-----------***
                            </span>
					    {{/if}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-6 m-auto">
                    <hr>
                    <h2 class="border border-primary py-3 px-3 text-center text-primary">
                        SERVICE DE PLACEMENT ! 
                    </h2>
                     <hr>            
            </div>
            <hr>
            <div class="container mt-5">
                <div class="col-md-6 m-auto"></div>
                    <div class="jumbotron">
                        <h5 class="display-10">Service De Placement</h5>
                            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                <hr class="my-4">
                                    <p>
                                        je dois completer ici
                                    </p>
                                
                                <hr class="my-4">
                                    <p>
                                        Si vous voulez modifier votre formulaire d'information cliquer ici:
                                    </p>
                   </div>
                </div>
            </div>
        </div>
    </body>
</html>