<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>www.onem.com</title>
</head>
<body>
        <nav>
            <h5 class="brand">ONEM Service</h5>
            <ul>
                <li><a href="/www.onem.com">Accueil</a></li>
            </ul>
            <div style="clear: both"></div>
        </nav>
        
        <div class="container mt-5"></div>
            
            <div class="col-md-12 m-auto">
                <h2 class="border border-primary py-3 px-3 text-center text-primary">
                   MERCI DE CHOISIR NOTRE SERVICE 
                </h2>
            </div>
        </div>
        <div class="container mt-5">
            <div class="col-md-8 m-auto">
                <div class="form-group">
                    <div class="jumbotron">
                        {{#if message}}
                            <h5 class="display-5">
                               *** Bravo! {{message}} ***
                            </h5>
					    {{/if}}
                        <p class="lead">
                                vous serez notifier via votre compte Email ou par votre  numero de téléphone soumis lors de votre inscription, et le message contiendra la liste de tous les  dossier necessaire que l'entreprise aura besoin et leur exigence
                        </p>
                        <hr class="my-6">
                        <p>
                            Prière de consulter votre compte Email dans 48h partant de l'heure que vous lisez ce message
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>